<div class="text-center w-100">
  <h4><%= classify(name)%>s</h4>
</div>
<button class="btn btn-success mb-2" (click)="addNew()">Add New</button>
<app-grid [data]="<%= camelize(name)%>s" [cols]="cols" [showDelete]="true" (rowSelected)="selected($event)" [loading]="loading"
  (rowDeleted)="remove<%= classify(name)%>($event)" [filterable]="false"></app-grid>

<kendo-dialog *ngIf="show<%= classify(name)%>Edit" (close)="closeModal()" [width]="'50%'">
  <app-<%= camelize(name)%>-form [<%= camelize(name)%>]="selected<%= classify(name)%>" (save)="save<%= classify(name)%>($event)" (cancel)="closeModal()"
    [isNew]="isNew<%= classify(name)%>" [saving]="saving"></app-<%= camelize(name)%>-form>
</kendo-dialog>

<div kendoDialogContainer></div>
