
  <div class="page-title"><%= classify(name)%>s</div>
  <app-grid [data]="<%= camelize(name)%>s$ | async" [cols]="cols" [showDelete]="true" [loading]="loading$ | async"
    [filterable]="false"
    (addClick)="addNew()"
    (rowSelected)="selected($event)"
    (rowDeleted)="remove<%= classify(name)%>($event)"></app-grid>

  <kendo-dialog *ngIf="show<%= classify(name)%>Edit" (close)="closeModal()" [width]="'70%'">
    <kendo-dialog-titlebar>
      <div style="font-size: 18px; line-height: 1.3em;">
        <h4>{{ isNew<%= classify(name)%> ? 'Add New <%= classify(name)%>' : 'Edit <%= classify(name)%>' }}</h4>
      </div>
    </kendo-dialog-titlebar>
    <app-<%= dasherize(name)%>-form [<%= camelize(name)%>]="selected<%= classify(name)%>$ | async"
      (save)="save<%= classify(name)%>($event)"
      (cancel)="closeModal()"
      [isNew]="isNew<%= classify(name)%>"
      [saving]="saving$ | async"
      [loading]="loadingSelected$ | async">
    </app-<%= dasherize(name)%>-form>
  </kendo-dialog>
