<% 
    var rows = Math.ceil(form.controls.length / form.columns);
    var rowsFloor = Math.floor(form.controls.length / form.columns);
    var columns = form.columns;
    var colCss = 12 / columns;
%>
<form>
    <% for (i = 0;i < rows;i++) { %>
    <div class="form-row">
        <% for (j = 0;j < columns;j++) { 
            var index = i * columns + j;

            if (form.controls[index]) {
                var ctl = form.controls[index];
            %>
        <div class="form-group col-md-<%= colCss %>">
            <label for="<%=ctl.name %>"><%=ctl.label %></label>
            <input type="text" class="form-control" id="<%=ctl.name %>" placeholder="<%=ctl.label %>">
        </div>
    <%      
        }
    }
    %></div><%
}
    %>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>