<div *ngIf="!loading;else loadingSpinner">
  <div class="text-center w-100">
    <h4>{{ isNew ? 'Add New <%= classify(name)%>' : 'Edit <%= classify(name)%>' }}</h4>
  </div>
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="serviceNameInput">Service Name</label>
        <input type="text" class="form-control" id="serviceNameInput" placeholder="Service Name"
          formControlName="serviceName">
      </div>
      <div class="form-group col-md-4">
        <label for="expenseObjectInput">Expense Object</label>
        <input type="text" class="form-control" id="expenseObjectInput" placeholder="Expense Object"
          formControlName="expenseObject">
      </div>
      <div class="form-group col-md-4">
        <label for="revenueGLKeyInput">Revenue Gl Key</label>
        <input type="text" class="form-control" id="revenueGLKeyInput" placeholder="Revenue Gl Key"
          formControlName="revenueGLKey">
      </div>
    </div>
    <div class="mb-1">
      <button kendoButton type="submit" class="k-button k-larimer" (click)="submit(form.value)"
        [disabled]="saving">Submit <span *ngIf="saving" class="k-icon k-i-loading"></span></button>
      <button kendoButton type="button" class="k-button k-light ml-2"
        (click)="cancelForm()">Cancel</button>
    </div>

  </form>
</div>
<ng-template #loadingSpinner>
  <div class="text-center">
    <span class="k-icon k-i-loading" style="font-size: 64px;"></span>
    <div>Loading...</div>
  </div>
</ng-template>
